<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
      <ul class="button-group">
        <li><a href="/" class="button">Blog</a></li>
        <li><a href="/projects" class="button">Projects</a></li>
        <li><a href="/about" class="button">About</a></li>
        <li><a href="/contact" class="button">Contact</a></li>
      </ul>
    </div>
    <a href='/'>
    <h2>The Adventures of a <br /> First-Time Entrepreneur</h2>
    </a>
    <hr />
  </div>
</div>