<aside class="large-4 columns">
  <h3>William Wong</h3>
  <a href="/about/">
    <%= image_tag "Willywonga.png" %>
  </a>
  <p>
    Web developer based in Brooklyn, NY and <a href='/'>here.</a>
    Passionate world citizen embarking in entrepeneurship.
  </p>

  <h5>Categories</h5>
    <ul class="side-nav">
      <li><a href="#">Inspiration</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Design</a></li>
    </ul>
 
    <div class="panel">
      <h5>Inspiration for the day</h5>
      <p>Life is not about finding yourself. It's about creating yourself. - George Bernard Shaw</p>
        <a href="#">Read More →</a>
    </div>
 </aside>
 